@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

.selfie {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cam,
.preview {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.preview-img {
  display: block;
  width: 100%;
}
.camera-btn-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: transparent;
  color: #fff;
  border: none;
}

.video-player {
  display: block;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.download-btn {
  margin-left: 25px;
}
